# Attempting to extract time stamp from DS1
### We are assuming that all data is given in chronological order

In [1]:
#importing packages 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
df = pd.read_csv('/Users/sasha/Desktop/DATASCIENCE/2023/Mini-Project/data.nosync/cleaned_transactional_data.csv')

### We do not need all these columns

In [7]:
df.drop(columns=['Unnamed: 0', 'from_account'], inplace=True)

### Let us extract the day of the transaction

In [11]:
df['dayOfWeek'] = pd.to_datetime(df['date']).dt.day_name()

### Let us look to see if the data looks as it is chronological order

In [54]:
tab_export_weekend1 = df[(df.date == '2025-03-08')]
tab_export_weekday1 = df[(df.date == '2025-03-11')]
tab_export_weekend2 = df[(df.date == '2025-06-15')]
tab_export_weekday2 = df[(df.date == '2025-06-19')]

In [59]:
n = 25
def get_segment(df, n):
    df = df.reset_index()
    length = len(df)
    df['segment'] = df.index.map(lambda x: math.floor(x/(length/n)))
    return df

In [60]:
tab_export_weekend1 = get_segment(tab_export_weekend1, n)
tab_export_weekday1 = get_segment(tab_export_weekday1, n)
tab_export_weekend2 = get_segment(tab_export_weekend2, n)
tab_export_weekday2 = get_segment(tab_export_weekday2, n)

In [62]:
tab_export_weekend1.to_csv('/Users/sasha/Desktop/DATASCIENCE/2023/Mini-Project/data.nosync/tab_export_weekend1.csv')
tab_export_weekday1.to_csv('/Users/sasha/Desktop/DATASCIENCE/2023/Mini-Project/data.nosync/tab_export_weekday1.csv')
tab_export_weekend2.to_csv('/Users/sasha/Desktop/DATASCIENCE/2023/Mini-Project/data.nosync/tab_export_weekend2.csv')
tab_export_weekday2.to_csv('/Users/sasha/Desktop/DATASCIENCE/2023/Mini-Project/data.nosync/tab_export_weekday2.csv')

In [63]:
tab_export_weekday2

,index,money_amount,to_account,date,transaction_ID,Categorised,dayOfWeek,segment
0,7386413,1.80,GOURMET_COFFEE_SHOP,2025-06-19,7387707,Coffee shop,Thursday,0
1,7386414,8.00,NERDY_BOOK_STORE,2025-06-19,7387708,Book store,Thursday,0
2,7386415,8.00,GREENGROCER,2025-06-19,7387709,Groceries,Thursday,0
3,7386416,2.45,GOURMET_COFFEE_SHOP,2025-06-19,7387710,Coffee shop,Thursday,0
4,7386417,2.45,COFFEE_SHOP,2025-06-19,7387711,Coffee shop,Thursday,0
...,...,...,...,...,...,...,...,...
26874,7413287,2.20,A_CAFE,2025-06-19,7414582,Café,Thursday,24
26875,7413288,6.00,SANDWICH_SHOP,2025-06-19,7414583,Restaurant,Thursday,24
26876,7413289,10.00,BOOKSHOP,2025-06-19,7414584,Book store,Thursday,24
26877,7413290,2.65,A_CAFE,2025-06-19,7414585,Café,Thursday,24
26878,7413291,42.65,LOCAL_RESTAURANT,2025-06-19,7414586,Restaurant,Thursday,24