In [1]:
#importing packages 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv('/Users/sasha/Desktop/DATASCIENCE/2023/Mini-Project/data.nosync/cleaned_EXPENDITURE_data.csv')
customers = pd.read_csv('/Users/sasha/Desktop/DATASCIENCE/2023/Mini-Project/data.nosync/customers.csv')

df.head()

,Unnamed: 0,from_account,money_amount,to_account,date,transaction_ID,Categorised
0,0,NaN,4.00,CINEMA,2025-01-01,0,Cinema
1,1,40544.0,4.60,A_LOCAL_COFFEE_SHOP,2025-01-01,1,Coffee shop
2,3,85149.0,4.65,A_LOCAL_COFFEE_SHOP,2025-01-01,3,Coffee shop
3,5,18555.0,4.10,HIPSTER_COFFEE_SHOP,2025-01-01,5,Coffee shop
4,7,18555.0,4.45,TOTALLY_A_REAL_COFFEE_SHOP,2025-01-01,7,Coffee shop

In [14]:
customers.head()

,Unnamed: 0,min,max,mean,sum,count,mode,customer_ID
0,0,1.45,1960.00,14.853905,37565.525305,2529,A_LOCAL_COFFEE_SHOP,1
1,1,1.45,299.00,14.959220,15527.670740,1038,PUB,100002
2,2,1.45,1955.00,33.762143,22924.494825,679,LOCAL_WATERING_HOLE,100019
3,3,1.45,381.25,22.950110,15927.376375,694,6053,100027
4,4,1.45,302.50,10.571419,13415.130350,1269,COFFEE_SHOP,10004

In [15]:
df = df.drop(['Unnamed: 0'], axis =1)
customers = customers.drop(['Unnamed: 0'], axis =1)

In [ ]:
df_customers_copy['Pub_Sum'] = df_customers_copy['customer_ID'].apply(lambda x: df[(df.from_account == x) & (df.to_account == 'PUB')]['money_amount'].sum())

In [ ]:
temp =df_customers.reset_index()
temp.head()

,from_account,min,max,mean,sum,count,mode
0,1,1.45,1960.00,14.853905,37565.525305,2529,A_LOCAL_COFFEE_SHOP
1,100002,1.45,299.00,14.959220,15527.670740,1038,PUB
2,100019,1.45,1955.00,33.762143,22924.494825,679,LOCAL_WATERING_HOLE
3,100027,1.45,381.25,22.950110,15927.376375,694,6053
4,10004,1.45,302.50,10.571419,13415.130350,1269,COFFEE_SHOP

In [ ]:
temp['sum'] = pd.array(temp['sum'].tolist())

In [ ]:
type(temp['sum'][3])

numpy.float64

In [ ]:
temp.pivot_table(index = 'from_account', columns = 'mode', values = ['sum'])

/var/folders/py/d721tqvn39xbrq83g84j15pm0000gn/T/ipykernel_7974/1965832856.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  temp.pivot_table(index = 'from_account', columns = 'mode', values = ['sum'])

TypeError: unhashable type: 'numpy.ndarray'